body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#add-task {
	width: 500px;
	padding: 10px;
	height: 40px;
	font-size: 20px;
}

#tasks-container {
	margin-top: 40px;
}

.task-container {
	width: 524px;
	display: flex;
	height: 50px;
	align-items: center;
}

.task-name {
	flex: 1;
	height: 40px;
	margin: 0 20px;
	border: none;
}

.delete-task {
	background: #F44336;
	border: none;
	border-radius: 2px;
	color: white;
	max-width: 100px;
	height: 40px;
	cursor: pointer;
}

#zrada {
	position: fixed;
	height: 14px;
	padding: 15px;
	background: rgba(220, 30, 40, 0.8);
	color: white;
	text-align: center;
	right: 20px;
	border: 1px solid red;
	border-radius: 2px;
	bottom: 20px;
}